<ion-view view-title="Posts">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus-round" ng-click="openPost()">
        </button>
    </ion-nav-buttons>

    <ion-content >
        <div id="postlist">
            <div class="list card" ng-repeat="post in posts">

                <div class="item item-body">
                    <img ng-if="post.imageData" class="full-image" src="{{post.imageData}}">
                    <p>{{post.message}}
                    </p>
                    <p>
                        <a href="#" class="subdued">{{post.like}} Like</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a  ng-click="likePost($index)" class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" ng-click="share(post)" href="#">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
        </div>
        <br>
    </ion-content>
</ion-view>
